<nav class="admin-navbar" routerLink="/admin-dashboard">
  <div class="logo">Admin Dashboard</div>
  <ul class="nav-links">
    <li>
      <a routerLink="/register"
        ><i class="fas fa-user-plus"></i> Register User</a
      >
    </li>
    <li>
      <a routerLink="/all-users"><i class="fas fa-users"></i> All Users</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-user-graduate"></i> Add Student</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-list"></i> All Students</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-chart-bar"></i>View Total Attendance</a>
    </li>
    <li class="logout"><a href="#" (click)="logout()">Logout</a></li>
  </ul>
</nav>
